// .login-form {
//     // Styles for the parent container
//     padding: 20px;
//     background-color: #f1f1f1;
//   }
  
//   .login-form h2 {
//     // Styles for the heading
//     font-size: 24px;
//     color: #333;
//   }
  
//   .login-form p {
//     // Styles for the error message
//     color: red;
//   }
  
//   .login-form form {
//     // Styles for the form container
//     margin-top: 20px;
//   }
  
//   .login-form label {
//     // Styles for the labels
//     font-weight: bold;
//   }
  
//   .login-form input {
//     // Styles for the input fields
//     width: 100%;
//     padding: 10px;
//     margin-bottom: 10px;
//   }
  
//   .login-form button {
//     // Styles for the login button
//     padding: 10px 20px;
//     background-color: #007bff;
//     color: #fff;
//     border: none;
//     cursor: pointer;
//   }

// h2 {
//   font-size: 100px;
// }

// .login-form{
//   width: 100%;
// }form{
//   width: 100%;
//   background-color: aquamarine;
// }

// button {
//   background-color: aqua;
// }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.login-container h2 {
  font-size: 24px;
  color: #333;
}

.login-container p {
  color: red;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-container label {
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.register-button {
  padding: 10px 20px;
  margin-left: 47.1%;
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.guest-button {
  margin-left: 47.5%;
  padding: 10px 20px;
  margin-top: -4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

body {
  background-color: #f1f1f1;
}